<p>
  <%= activity.owner.username %>
  added a new version of
  <%= activity.trackable.song.name %>:
  <%= link_to activity.trackable.title, recording_path(activity.trackable) %>

  <span class="text-muted">&nbsp;<%= timeago_tag activity.created_at, force: true %></span class="text-muted">
</p>

<blockquote><%= activity.trackable.description %></blockquote>
