<%= simple_form_for([@song, @recording], html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :song, as: :hidden %>
    <%= f.input :title, placeholder: 'Name this version of the song' %>
    <%= f.input :description, placeholder: 'What is new in this version? What has changed?' %>

    <p><%= f.input :audio, as: :file %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
