<p id="notice"><%= notice %></p>

<h1>Recordings</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Recording</th>
      <th>Song</th>
      <th>Created</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @recordings.each do |recording| %>
      <tr>
        <td><%= link_to recording.title, recording %></td>
        <td><%= recording.song.name %></td>
        <td><%= timeago_tag recording.created_at, force: true %></td>
        <td><%= recording.user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recording', new_recording_path, class: 'btn btn-primary' %>
