<p id="notice"><%= notice %></p>

<h1>Songs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Song</th>
      <th>Created</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.name, song %></td>
        <td><%= timeago_tag song.created_at, force: true %></td>
        <td><%= song.user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path, class: 'btn btn-primary' %>
