<h1><%= @song.name %> <small>by <%= link_to @song.user.username, @song.user %></small></h1>

<p class="lead"><%= @song.description %></p>

<% if @song.recordings.any? %>
  <% @song.recordings.each do |recording| %>
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title"><%= link_to recording.title, recording %></h3>
        <p class="card-text"><%= recording.description %></p>

        <audio controls>
          <source src="<%= recording.audio.url %>">
          Your browser does not support the audio element.
        </audio>
      </div>

      <div class="card-footer text-muted text-right">
        <%= timeago_tag recording.created_at, force: true %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No recordings of this song yet.</p>
<% end %>

<%= link_to 'Edit Song', edit_song_path(@song), class: 'btn btn-warning' %>

<%= link_to 'Add Recording', new_song_recording_path(@song), class: 'btn btn-primary' %>
